/* header */

* {
    font-family: 'Poppins', sans-serif;
}

header{
    width:100%;
    
}
.header__profile{
    width:90%;
    margin: 0 auto;        
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));    
}

.header__profile--sections {
    width: 100%;
    background-color:#F6F6F6;       
    display: flex;
    flex-direction: column;   
}

.header__profile--img{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.header__profile--sections img{
    margin-top: 20px;    
    height:auto;
    width:200px
}

.header__options{
    width: 60%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.header__options a{
    text-decoration: none;
    color: black;
}

.header__curriculum{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
}

.header__curriculum h1{
    text-align: center;
    font-size: 55px;
    color: #999999;
}

.header__curriculum--btn button{
    height: 40px;
    border:none;
    background-color:#FFE8E8;
    font-size: 14px;
letter-spacing: 2px;
}

/* About */ 

.about {
    display: flex;
    padding: 0 109px 0 129px;
    flex-wrap: wrap;
    justify-content: center;
}

.contact {
    padding: 1rem 3rem 1rem 3rem;
    width: 25rem;
    top: 30rem;
    left: 30rem;
    background-color: #FFE8E8;
}