* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(243, 237, 230);
}

html {
  height: 100%;
}

/* Header */

header {
  width: 100%;
}

.header__profile {
  margin: 50px 0 50px 0;
  width: 100%;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.header__profile h1 {
  text-align: center;
  font-size: 80px;
  color: rgb(105, 63, 63);
  animation-name: fadeIn;
  animation-duration: 4.9s;
  animation-iteration-count: infinite;
}

.header--work {
  text-align: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 55px;
  font-weight: 300;
  display: none;
  /* padding: 35px; */
}

.header--work:hover {
  background-color: rgb(34, 31, 31);
  color: #fff;
}

.header--project {
  text-align: center;
  color: rgb(106, 30, 116);
  text-decoration: none;
  font-size: 55px;
  font-weight: 650;
  display: none;
  /* padding: 35px; */
}

.header--project:hover {
  background-color: rgb(106, 30, 116);
  color: #fff;
}

.header--about {
  text-align: center;
  color: rgba(27, 148, 122, 0.931);
  text-decoration: none;
  font-size: 55px;
  font-weight: 300;
  display: none;
  /* padding: 35px; */
}

.header--about:hover {
  background-color: rgba(27, 148, 122, 0.931);
  color: #fff;
}

.header__profile button {
  background: none;
  border: none;
  cursor: pointer;
}

/* END Header */

/* Work */

.work {
  margin: 0 25px 0 25px;
}

.work__content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

}
.work-izq {
  text-align: left;
  flex: 50%;
  margin-top: 50px;
}
.work-derecha {
  flex: 50%;
  text-align: left;
  margin-top: 50px;
}

.work__leftcard,
.work__leftcard2 {
  display: none;
  animation-name: fadeIn;
  animation-duration: 3s;
}

.work__leftcard,
.work__leftcard2,
h5 {
  font-size: 40px;
}

.work__leftcard,
.work__leftcard2,
p {
  font-size: 18px;

}

.work__leftcard,
.work__leftcard2,
button {
  font-size: 12px;
  border-radius: 10px;
  border: none;
}

.work__rightcard,
.work__rightcard2 {
  display: none;
  animation-name: fadeIn;
  animation-duration: 3s;
}
.work__rightcard,
.work__rightcard2,
h5 {
  font-size: 30px;
}
.work__rightcard,
.work__rightcard2,
p {
  font-size: 18px;  
}
.work__rightcard,
.work__rightcard2,
button {
  font-size: 12px;
  border-radius: 10px;
  border: none;
}

.work__rightcard button {
  margin-top: 10px;
}

.work__rightcard2 button {
  margin-top: 10px;
}

/* END Work */

/* About */

.about {
  display: flex;
  display: none;
  padding: 0 109px 0 129px;
  flex-wrap: wrap;
  justify-content: center;
}

.contact {
  padding: 1rem 3rem 1rem 3rem;
  width: 25rem;
  top: 30rem;
  left: 30rem;
  background-color: #ffe8e8;
}

/* END About */

/* Projects */

.projects {
  display: none;
  margin: 0px;
}

@media only screen and (min-width: 554px) {
  .projects-title {
    text-align: left;
    margin: 0px 100px;
    color: #999999;
    font-size: 1.5em;
  }

  .projectsSeccion {
    display: flex;
    margin: 30px 0px;
  }

  .projectsSeccion-vacio {
    width: 600px;
    height: 600px;
    background: #d8d8d8;
    margin: 10px 100px;
  }

  .proyectsSeccion-contenido {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    color: #999999;
    padding-top: 20px;
  }

  .proyectsSeccion__contenido-title {
    padding-top: 40px;
  }

  .order {
    order: -1;
    text-align: right;
    margin-right: -10px;
  }
}

@media only screen and (max-width: 553px) {
  .projects {
    text-align: center;
  }

  .projects-title {
    margin: 50px auto;
    color: #999999;
  }

  .projectsSeccion {
    text-align: center;
    margin: 0 auto;
  }

  .projectsSeccion-vacio {
    width: 300px;
    height: 300px;
    background: #d8d8d8;
    margin: 0 auto;
  }

  .proyectsSeccion-contenido {
    width: 250px;
    height: 200px;
    margin: 80px auto;
    color: #999999;
  }
}

/* END Projects */

/* Footer */
footer {
  margin-top: auto;
  background-color: #312f2f;
  color: white;
}

.social-media {
  display: flex;
  justify-content: center;
}

.fa-github-square,
.fa-twitter-square,
.fa-linkedin {
  font-size: 80px;
  margin: 15px 25px 10px 25px;
  cursor: pointer;
}

.fa-github-square:hover {
  color: rgb(255, 249, 163);
}
.fa-twitter-square:hover {
  color: rgb(104, 219, 248);
}
.fa-linkedin:hover {
  color: rgb(253, 123, 123);
}

/* END Footer */

/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
